/* feuille de style principal
*{
    box-sizing: border-box;
    margin: 0;
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 75px;
    height: 100px;
    padding: 20px 0 0 20px;
}

.links {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

} */

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;  
    
    background-color:rgb(83, 82, 77);
    margin: 0 0 0 0 ;
}
p {
    
    align-items: center;
    color: whitesmoke;
   } 
   
   i{
       width: 20px;
       height: 20px;
   }
   .bloc_paragraphe{
       
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.bloc_icone_footer{
    
    
    color: blue;
}
